<div ng-include="'Chat/ChatHome.html'"></div>
<div ng-controller="ChatController as ctrl">
<center><h2>Your Friends</h2></center>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Friend ID</th>
        <th>Online Status</th>
        <th>Invite to Chat</th>
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="x in friends">
    	<td>{{x.friendId}}</td>
    	<td>{{x.isOnline}}</td>
    	<td><button class="btn btn-default" ng-click="">Invite</button></td>
	    </tr>
    </tbody>
</table>
</div>