<div ng-include="'Common/CommonHeader.html'"></div>
<div ng-controller="ChatController as ctrl">
<button class="btn btn-success" ng-click="ctrl.getAllAvailableChat()">View Open Chat</button>
<button class="btn btn-success" ng-click=""><a href="#!/goChaCreate">Create new Chat</a></button>
<button class="btn btn-success" ng-click=""><a href="#!/goSocketChat">Socket Chat</a></button>
<div ng-if="isAdmin">
  <button type="button" class="btn btn-success" ng-click="ctrl.manageChat()">Manage Chats</button>
</div>
</div>