<div ng-include="'Common/CommonHeader.html'"></div>
<div ng-controller="UserController as ctrl">
<center><h1>Enter the details and press Submit</h1></center>
<center>
<form ng-submit="ctrl.submit()" class="form-horizontal" name="regForm">
  <div class="form-group">
    <label class="control-label col-sm-2" for="userid">UserId :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="userid" placeholder="Enter userID"  ng-model="ctrl.user.userID">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="username">UserName ::</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" placeholder="Enter username"  ng-model="ctrl.user.userName">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="userpassword">Password :</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="userpassword" placeholder="Enter User password"  ng-model="ctrl.user.userPassword">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
	<input type="submit" value="Register">
	</div>
	</div>
	<div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
	<button type="button" ng-click="ctrl.reset()">Reset</button>
	</div>
	</div>
</form>
</center>
</div>