<div ng-include="'Blog/BlogHome.html'"></div>
<div ng-controller="BlogController as btrl">
<center><h1>{{blog.blogName}}</h1></center>
<h3>By {{blog.blogCreatorId}}</h3>
<h3>Last updated on : {{blog.lastUpdateDate}}</h3>
<p>{{blog.blogData}}</p>
<center><h4>Comments</h4></center>
<div ng-repeat="x in comments">
<p>
{{x.commentUserId}} on {{x.commentDate}}<br/>
{{x.commentText}}<br/>
</p>
<div ng-if="x.reportComment==='Y'">This comment has been reported the admin will review it</div>
<div ng-if="x.reportComment==='N'">
<button class="btn btn-danger" ng-click="btrl.reportComment(x.commentID)">Report Comment</button><br/>
</div>
</div>
<form ng-submit="btrl.submitComment()" id="cmtForm">
<textarea rows="8" cols="40" form="cmtForm" ng-model="btrl.comment.commentText">Enter Comment...</textarea><br/>
<input type="submit" value="Post Comment">
</form>
</div>