<div ng-include="'Blog/BlogHome.html'"></div>
<div ng-controller="BlogController as btrl">
<div class="container">
  <h2>Available Blogs</h2>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Blog Name</th>
        <th>Blog Creator</th>
        <th>Blog Description</th>
        <th>View Blog</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in blogs">
        <td>{{x.blogName}}</td>
        <td>{{x.blogCreatorId}}</td>
        <td>{{x.blogDescription}}</td>        
        <td><button class="btn btn-default" ng-click='btrl.viewBlog(x.blogID)' >See blog</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>