<div ng-include="'Job/JobHome.html'"></div>
<div ng-controller="JobController as jtrl">
<center><h2>Available Jobs</h2></center>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
      	<th>Job Id</th>
        <th>Job Name</th>
        <th>Job Description</th>
        <th>Job Salary</th>
        <th>Job Status</th>
        <th>Close Job</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in jobs">
      	<td>{{x.jobId}}</td>
        <td>{{x.jobName}}</td>
        <td>{{x.jobDescription}}</td>
        <td>{{x.jobSalary}}</td>    
        <td>{{x.jobStatus}}</td>
        <td><button class="btn btn-default" ng-click='jtrl.closejob(x.jobId)')>Close Job</button>
      </tr>
    </tbody>
    </table>
</div>